# Supabase REST API Configuration
SUPABASE_URL=https://fwouzdqdabwhyasotgpx.supabase.co
SUPABASE_KEY=your-supabase-anon-or-service-role-key

# Supabase PostgreSQL Direct Database Connection
SUPABASE_DB_PASSWORD=
SUPABASE_DB_URL=postgresql://postgres:[YOUR-PASSWORD]@db.fwouzdqdabwhyasotgpx.supabase.co:5432/postgres

# Backend Server Settings
PORT=8000
HOST=0.0.0.0

